@{
    ViewBag.Title = "About";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<p class="lead">Signatory.io would not exist without the following support:</p>
<ul class="thumbnails">
    <li class="span2">
        <a class="thumbnail" href="http://nikcodes.com/" target="_blank">
            <img src="//gravatar.com/avatar/e07a27ec61977c7c686feaa799b1cf6e?s=338">
        </a>
        <h4>Development</h4>
        <p>Signatory is conceived, implemented and maintained by <a href="http://nikcodes.com/">Nik Molnar</a>. Follow Nik on Twitter: <a href="http://twitter.com/nikmd23/">@@nikmd23</a></p>
    </li>
    <li class="span2">
        <a class="thumbnail" href="http://red-gate.com/" target="_blank">
            <img src="/Content/images/redgate.png">
        </a>
        <h4>Hosting</h4>
        <p>Signatory hosting on <a href="http://www.windowsazure.com/en-us/services/web-sites/">Windows Azure Web Sites</a> is proudly sponsored by <a href="http://red-gate.com/">Red Gate Software</a>.</p>
    </li>
    <li class="span2">
        <a class="thumbnail" href="http://fortawesome.github.io/Font-Awesome/" target="_blank">
            <img src="/Content/images/fontawesome.png">
        </a>
        <h4>Icons </h4>
        <p>Icons are provided by <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a> under a <a href="http://creativecommons.org/licenses/by/3.0/">CC by 3.0</a> license.</p>
    </li>
    <li class="span2">
        <a class="thumbnail" href="http://github.com/nikmd23/signatory/" target="_blank">
            <img src="/Content/images/github.png">
        </a>
        <h4>Open Source</h4>
        <p>Signatory is 100% open source under the <a href="http://opensource.org/licenses/Apache-2.0/">Apache License 2</a>. We look forward to <a href="http://github.com/nikmd23/signatory/">your contribution</a>!</p>
    </li>
    <li class="span2">
        <a class="thumbnail" href="http://getbootstrap.com/" target="_blank">
            <img src="/Content/images/bootstrap.png">
        </a>
        <h4>Design</h4>
        <p>This short article covers the purpose and scope of contributor license agreements. The <a href="https://fossbazaar.org/content/open-source-contributor-agreements-some-examples/">second part</a> reviews some popular CLA's.</p>
    </li>
</ul>
