@{
    ViewBag.Title = "Welcome!";
}

<div class="hero-unit">
    <div class="row">
        <div class="span6">
            <img src="~/Content/images/clacat.png" />
        </div>
        <div class="span4">
            <h1>Hello World!</h1>
            <p>Meet <strong>Signatory</strong>, a simple service to help open source projects manage their contributor license agreements.</p>
            <p><strong>Signatory</strong> tightly integrates with <a href="http://github.com">GitHub</a> to make signing CLA's a snap.</p>
            <p><a class="btn btn-primary btn-large" href="#">Learn more »</a></p>
        </div>
    </div>
</div>