@{
    ViewBag.Title = "Resources";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<p class="lead">Learn more about Contributor License Agreements, why they matter, and whether or not your project should have one.</p>
<ul class="thumbnails">
    <li class="span3">
        <a class="thumbnail" href="http://www.oss-watch.ac.uk/resources/cla" target="_blank">
            <img src="/Content/images/ossWatch.png">
        </a>
        <h4>OSS Watch</h4>
        <p>An excellent "briefing" which introduces CLA's covering what needs to be in the license, why one is necessary, and how to maintain a CLA.</p>
    </li>
    <li class="span3">
        <a class="thumbnail" href="http://osszerotosixty.com" target="_blank">
            <img src="/Content/images/ossZeroToSixty.png">
        </a>
        <h4>OSS Zero to Sixty</h4>
        <p>A quickstart introduction for how to run open source projects featuring best practices and lessons learned from one of the founders of the popular Glimpse project.</p>
    </li>
    <li class="span3">
        <a class="thumbnail" href="https://fossbazaar.org/content/open-source-contributor-agreements-purpose-and-scope/" target="_blank">
            <img src="/Content/images/fossBazaar.png">
        </a>
        <h4>FOSS Bazaar</h4>
        <p>This short article covers the purpose and scope of contributor license agreements. The <a href="https://fossbazaar.org/content/open-source-contributor-agreements-some-examples/">second part</a> reviews some popular CLA's.</p>
    </li>
    
    <li class="span3">
        <a class="thumbnail" href="http://oreilly.com/openbook/osfreesoft/book/index.html" target="_blank">
            <img src="/Content/images/openSourceAndFreeSoftwareLicensing.jpg">
        </a>
        <h4>Understanding Open Source and Free Software Licensing </h4>
        <p>A bit dated, yet still excellent eBook (free) for those intrested in understanding software licensing in depth.</p>
    </li>
</ul>
