@{
    ViewBag.Title = "Resources";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<p class="lead">Learn more about Contributor License Agreements, why they matter, and whether or not your project should have one.</p>
<ul class="thumbnails">
    <li class="span3">
        <a class="thumbnail" href="http://twitter.github.io/bootstrap/examples/hero.html" target="_blank">
            <img src="http://twitter.github.io/bootstrap/assets/img/examples/bootstrap-example-marketing.png" alt="">
        </a>
        <h4>OSS Watch</h4>
        <p>TODO: Fill in this text.</p>
    </li>
    <li class="span3">
        <a class="thumbnail" href="http://osszerotosixty.com" target="_blank">
            <img src="/Content/images/ossZeroToSixty.png">
        </a>
        <h4>OSS Zero to Sixty</h4>
        <p>A quickstart introduction for how to run open source projects featuring best practices and lessons learned from one of the founders of the popular Glimpse project.</p>
    </li>
    <li class="span3">
        <a class="thumbnail" href="http://twitter.github.io/bootstrap/examples/fluid.html" target="_blank">
            <img src="http://twitter.github.io/bootstrap/assets/img/examples/bootstrap-example-fluid.png" alt="">
        </a>
        <h4>Apache CLA</h4>
        <p>TODO: Fill in this text.</p>
    </li>
    
    <li class="span3">
        <a class="thumbnail" href="http://twitter.github.io/bootstrap/examples/marketing-narrow.html" target="_blank">
            <img src="http://twitter.github.io/bootstrap/assets/img/examples/bootstrap-example-marketing-narrow.png" alt="">
        </a>
        <h4>One More?</h4>
        <p>TODO: Fill in this text.</p>
    </li>
</ul>
