@{
    ViewBag.Title = "Sign In";
}
<div class="row">
    <div class="span8 offset2">
        <div class="hero-unit">
            <div class="row">
                <div class="span2 offset1">
                    <a href="/authentication/redirect/github/">
                    <img src="~/Content/images/github.png" />
                    </a>
                </div>
                <div class="span3">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <h3 class="text-warning">Not so fast</h3>
                        <p><small><strong>@User.Identity.Name</strong> doesn't have permissions for that! Sign out and try with a different account.</small></p>
                        <p>
                            <a href="/home/signout/" class="btn">Sign out </a><br/>
                        </p>
                    }
                    else
                    {
                        <h3 class="text-info">Well this is easy</h3>
                        <p><small>Sign in with your GitHub account.</small></p>
                        <p>
                            <a href="/authentication/redirect/github/" class="btn btn-primary">Sign in</a><br/>
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>