<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- These settings are replaced in production with settings from https://manage.windowsazure.com/#Workspaces/WebsiteExtension/Website/signatory/configure -->
  <!-- Changes to this file are ignored -->
  <add key="GitHubKey" value="SET THIS VALUE FOR LOCAL DEV" />
  <add key="GitHubSecret" value="SET THIS VALUE FOR LOCAL DEV" />
</appSettings>